:root {
  --yellow-js: #F7DF1E;
  --dark-color: #222;
}

.cards {
  border: thin solid var(--dark-color);
  padding: 1rem
}

.card {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--yellow-js)
}

.card figcaption {
  padding: 1rem;
}

.rotate-45 {
  transform: rotate(45deg);
}

.rotate-135 {
  transform: rotate(135deg);
}

.opacity-80 {
  opacity: .8;
}

.sepia {
  filter: sepia(1);
}

.eventos-flujos div {
  padding: 3rem;
  font-size: 2rem;
  text-align: center;
}

.uno {
  background-color: mediumpurple;
}

.dos {
  background-color: #097;
}

.tres {
  background-color: #09f;
}
