body {
  margin: 0;
  padding: 0;
  background-color: #121312;
}

.portada {
  width: 100%;
  height: 300px;
}

#container-music {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.card {
  width: 80%;
  background-color: #a67d43;
  border-radius: 0.5rem;
  overflow: hidden;
  border: solid 1px #ffffff;
}

.info-music {
  padding: 10px 20px;
}

.info-music h3,
h4 {
  margin: 0;
}
